<?xml version="1.0" encoding="UTF-8"?>

	<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.5/phpunit.xsd"
			 backupGlobals="false"
			 colors="true"
			 convertErrorsToExceptions="true"
			 convertNoticesToExceptions="true"
			 convertWarningsToExceptions="true"
			 stopOnFailure="false"
	>
	<php>
		<env name="OAUTH_HOST" value="http://localhost" />
		<env name="CAMPAIGN_WIZARD_HOST" value="http://localhost" />
		<env name="MEDIA_MANAGEMENT_HOST" value="http://localhost" />
		<env name="CUSTOMER_HOST" value="http://localhost" />
		<env name="ENABLE_DEBUG" value="false" />
		<env name="USE_MOCK_RESPONSES" value="true" />

		<env name="CLIENT_ID" value="" />
		<env name="CLIENT_SECRET" value="" />
	</php>
	<testsuites>
		<testsuite name="Unit Test Suite">
			<directory>tests/Unit</directory>
		</testsuite>
		<testsuite name="Functional Test Suite">
			<directory>tests/functional</directory>
		</testsuite>
	</testsuites>
</phpunit>
